*{margin: 0; padding: 0}

/*css add nhan vien*/
.employee .tab-content {
    margin-top: 20px;
    margin-left: 60px;
}

.employee .tab-content input, .employee .tab-content select {
    width: 600px;
}

.employee .form-group.sex {
    display:  inline-flex;
}

.employee .form-group.sex select{
    margin-left: 40px;
    height: 26px;
}

.employee .form-group.status select{
    height: 26px;
    margin-bottom: 10px
}
/*end css add nhan vien*/

/* css admin nhan vien */
form select#catalog {
    width: 100px;
}

.fot .pull-right a, .fot .pull-right strong {
    border: 1px solid #c6c6c6;
    margin-right: 5px;
    padding: 7px;
    margin-bottom: 10px;
    text-decoration:  none;
}

table .name_right p{
    font-size: 11px;
}

table .name_left img {
    width: 50px;
    height: 40px;
    float:  left;
    margin-right: 5px;
}

.middle form {
    background-color: #f9f8f887;
}

.middle form input[type="text"] {
    margin-left:  5px;
    margin-right: 15px;
}

.middle form input.btn {
    margin-left: 10px;
    border-radius: unset;
}
/*end css admin nhan vien */

/* css form */
.head p.pull-right {margin-right: 45px;margin-top: 25px;}

.form-group .form_error {
    color: #d9534f;
    margin-left: 120px;
}
.employee .form_error {
    margin-left: 0px;
}

form select#parent_id {
    margin-left: 120px;
    height: 40px;
    width: 150px;
    border:  none;
    border-bottom: 1px solid #dadada;
}

form button.btn.btn-danger {position: relative;width: 110px;right: -630px;}

form input.form-control {height: 40px;border-radius:  unset;box-shadow:  none;border: none;width: 700px;margin-left: 119px;border-bottom: 1px solid #dadada;}

form input.form-control:focus {box-shadow:  none;border-bottom: 1px solid #5bc0de;}

form {
    border: 1px solid #dedede;
    padding: 20px;
}
/*end css form */

/* table content */
.fot .pull-left li {
    list-style:  none;
    float:  left;
    margin-left: 20px;
}

table .action i {
    font-size: 20px;
    margin-right: 15px;
}

table thead {
    background: #b9b9b9cf;
}
/* end table content */

/* header admin admin */
.right.pull-right>li {
    list-style:  none;
    float:  left;
    margin-right: 30px;
    margin-top: 25px;
}
/* end header admin admin */

/*css header layout*/
.panel.panel-read {
    background: #e44444;
    color: white;
}

.panel.panel-read a:hover {
    color: #f72626;
}

.panel.panel-read a {
    color: #e44444;
}

.panel.panel-yellow {
    background: #b3b31f;
    color: white;
}

.panel.panel-yellow a {
    color: #b3b31f;
}

.panel.panel-yellow a:hover {
    color: #dcdc21;
}

.panel.panel-green a {
    color: #37a737;
}

.panel.panel-green a:hover {
    color: #23de23;
}

.panel.panel-green {
    background: #37a737;
    color: white;
}

.panel.panel-green {}

.page_wrapper {
    width:  100%;
    padding: 0 15px 0 240px;
}
/*end css header layout*/

body {
    margin-top: 65px;
}