.page_wrapper {
    width:  100%;
    padding: 0 15px 0 240px;
}

body {
    margin-top: 65px;
}

.side-nav {
    position: fixed;
    left:0;
    top: 51px;
    width: 225px;
    border: none;
    border-radius: 0;
    border-top: 1px #777777 solid;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.side-nav>li>a {
    width: 225px;
    border-bottom: 1px #777777 solid;
}

.side-nav>li>a>i{
    margin-right:5px;
} 

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #4e4e4e !important;
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px #777777 solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #9d9d9d;    
}

.side-nav>li>ul>li>a>i{
  margin-right:5px;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

